*{
    box-sizing: border-box;
}

:root {
    --primary-color: #000;
    --secondary-color: #fff;
}

html {
    transition: all 0.5s ease-in;
}

html.dark {
    --primary-color: #fff;
    --secondary-color: #333;
}

html.dark {
    background-color: #111;
    color: var(--primary-color);
}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    margin: 0;
}

.toggle {
    cursor: pointer;
    top: 100px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 0;
    border-radius: 4px;
    padding: 8px 12px;
    position: absolute;
}

.toggle:focus {
    outline: none;
}

.clock-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock{
    width: 200px;
    height: 200px;
    position: relative;
}

.needle{
    position: absolute;
    width: 3px;
    height: 65px;
    background-color: var(--primary-color);
    top: 50%;
    left: 50%;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
}

.neddle.hour{
    transform: translate(-50%, -100%) rotate(0deg);
}

.needle.minute{
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
}

.needle.second{
    transform: translate(-50%, -100%);
    height: 100px;
    background-color: #e74c3c;
}

.center-point {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #e74c3c;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.center-point::after{
    content: "";
    background-color: var(--primary-color);
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.time {
    font-size: 60px;
}

.date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.date .circle{
    background-color: var(--primary-color);
    color:var(--secondary-color);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
}